{
    "parser": "typescript",
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "useTabs": false,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto"
}